<div class="container">
<h1>Изменение данных студента</h1>
<%= form_for :student, url: student_path(@student), method: :patch do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited this article from being saved: 
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <label for="student_fio" class="col-sm-2 control-label">ФИО:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.fio %>" name="student[fio]" id="student_fio" class="form-control" required>
    </div>
  </div>
<br>
  <div class="form-group">
    <label for="student_group" class="col-sm-2 control-label">Группа:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.group %>" name="student[group]" id="student_group" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="student_tnumber" class="col-sm-2 control-label">Телефон:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.tnumber %>" name="student[tnumber]" id="student_tnumber" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="student_email" class="col-sm-2 control-label">e-mail</label>
    <div class="col-sm-10">
      <input type="e-mail" value="<%= @student.email %>" name="student[email]" id="student_email" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="student_sn" class="col-sm-2 control-label">vk.com/id</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.sn %>" name="student[sn]" id="student_sn" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="student_date_work" class="col-sm-2 control-label">Назначенная дата сдачи:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.date_work %>" name="student[date_work]" id="studetn_date_work" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="student_subject" class="col-sm-2 control-label">Предмет:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.subject %>" name="student[subject]" id="student_subject" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="student_teacher" class="col-sm-2 control-label">Преподаватель:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @student.teacher %>" name="student[teacher]" id="student_teacher" class="form-control" required>
    </div>
  </div><br>
  <br>
  <div class="form-group">
	<input type="submit" name="commit" value="Save Student" class="form-control btn-success">
  </div>



<% end %>

<%= link_to 'Вернуться к базе', students_path %>
</div>
