<div class="container">
<h1>Изменение курсовой</h1>
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved: 
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <label for="article_fio" class="col-sm-2 control-label">ФИО:</label>
    <div class="col-sm-10">
      <%=Student.find_by_id(@article.student_id).fio%>
    </div>
  </div>
<br>
  <div class="form-group">
    <label for="article_group" class="col-sm-2 control-label">Группа:</label>
    <div class="col-sm-10">
      <%=Student.find_by_id(@article.student_id).group%>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_tnumber" class="col-sm-2 control-label">Телефон:</label>
    <div class="col-sm-10">
      <%=Student.find_by_id(@article.student_id).tnumber%>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_email" class="col-sm-2 control-label">e-mail</label>
    <div class="col-sm-10">
      <%=Student.find_by_id(@article.student_id).email%>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_sn" class="col-sm-2 control-label">vk.com/id</label>
    <div class="col-sm-10">
      <%=Student.find_by_id(@article.student_id).sn%>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_typework" class="col-sm-2 control-label">Тип работы:</label>
    <div class="col-sm-10">
      <select class="form-control" name="article[typework]" id="article_typework">
	<option value="Курсовая работа">Курсовая работа</option>
	<option value="Курсовой проект">Курсовой проект</option>
      </select>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_year" class="col-sm-2 control-label">Год:</label>
    <div class="col-sm-10">
      <input type="text" value="<%=@article.year%>" name="article[year]" id="article_year" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_teacher" class="col-sm-2 control-label">Преподаватель:</label>
    <div class="col-sm-10">
      <%=Student.find_by_id(@article.student_id).teacher%>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_workname" class="col-sm-2 control-label">Название работы:</label>
    <div class="col-sm-10">
      <input type="text" value="<%=@article.workname%>" name="article[workname]" id="article_workname" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="article_mark" class="col-sm-2 control-label">Оценка:</label>
    <div class="col-sm-10">
      <select class="form-control" name="article[mark]" id="article_mark">
        <option value="5">Отлично "5"</option>
        <option value="4">Хорошо "4"</option>
        <option value="3">Удовлетворительно "3"</option>
        <option value="2">Неудовлетворительно "2"</option>
      </select>
    </div>
  </div><br>
  <br>
  <br>
  <%= f.file_field :linktowork %><br>
  <div class="form-group">
	<input type="submit" name="commit" value="Save Article" class="form-control btn-success">
  </div>



<% end %>

<%= link_to 'Вернуться к базе', articles_path %>
</div>
