<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/start_page">DataBASE</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Курсовые работы', articles_path %></li>
                    <li><%= link_to 'Студенты', students_path %></li>
                    <li><%= link_to 'Преподаватели', teachers_path %></li>
                    <li class="active"><%= link_to 'Статистика', statistics_path %></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
</nav><br><br><br>
<%= bar_chart Article.group(:mark).sum(Article.all.count/@maxind) %>