<div class="container">
<h1>Изменение данных преподавателя</h1>
<%= form_for :teacher, url: teacher_path(@teacher), method: :patch do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teacher.errors.count, "error") %> prohibited this article from being saved: 
      </h2>
      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <label for="teacher_fio" class="col-sm-2 control-label">ФИО:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @teacher.fio %>" name="teacher[fio]" id="teacher_fio" class="form-control" required>
    </div>
  </div>
<br>
  <div class="form-group">
    <label for="teacher_birthday" class="col-sm-2 control-label">Дата рождения:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @teacher.birthday %>" name="teacher[birthday]" id="teacher_birthday" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="teacher_tnumber" class="col-sm-2 control-label">Телефон:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @teacher.tnumber %>" name="teacher[tnumber]" id="teacher_tnumber" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="teacher_email" class="col-sm-2 control-label">e-mail</label>
    <div class="col-sm-10">
      <input type="e-mail" value="<%= @teacher.email %>" name="teacher[email]" id="teacher_email" class="form-control" required>
    </div>
  </div><br>
  <div class="form-group">
    <label for="teacher_post" class="col-sm-2 control-label">Должность:</label>
    <div class="col-sm-10">
      <input type="text" value="<%= @teacher.post %>" name="teacher[post]" id="teacher_post" class="form-control" required>
    </div>
  </div><br>
  
  <div class="form-group">
	<input type="submit" name="commit" value="Save Teacher" class="form-control btn-success">
  </div>



<% end %>

<%= link_to 'Вернуться к базе', teachers_path %>
</div>