<br>
<div class="container">
  <h1>Информация о Преподавателе</h1>
  <dl class="dl-horizontal">
    <dt>ФИО:</dt>
    <dd><%= @teacher.fio %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Дата рождения:</dt>
    <dd><%= @teacher.birthday%></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>e-mail:</dt>
    <dd><%= @teacher.email %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Должность:</dt>
    <dd><%= @teacher.post %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Телефон:</dt>
    <dd><%= @teacher.tnumber %></dd>
  </dl>

<%= link_to 'Вернуться к базе данных', teachers_path %>

</div>
<br>
